<header id="header">
				<h1 id="logo"><a href="/">{{ site.title }}</a></h1>
				<nav id="nav">
				     <ul>
				     <li style="display:none;" class="showsmall"><a href="/">Home</a></li>
      {% assign pages = site.pages | sort:"nav-order" %}
        {% for spage in pages %}
        {% if spage.nav %}
        {% if page.url == spage.url%}
          <li><a class="page-link active" title="{{ spage.title }}" href="{{ spage.url | prepend: site.baseurl }}">{{ spage.title }}</a></li>
          {% else %}
            <li><a class="page-link" title="{{ spage.title }}" href="{{ spage.url | prepend: site.baseurl }}">{{ spage.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <li><a href="{{ site.join-us }}" class="button special">Join Us</a></li>
      </ul>
		
				</nav>
			</header>
			